<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Medical Diagnosis &amp; A Machine Learning based web application | Home</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="medilife-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="h-100 d-md-flex justify-content-between align-items-center">
                            <p>Welcome to <span>Medical Diagnosis, All in one disease predictors ML based app created by Aishwarya </span> </p>
                            <p>Covid updates: <span><a href="https://data.who.int/dashboards/covid19/cases?n=c">click me</a></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Header Area -->
        <div class="main-header-area" id="stickyHeader">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 h-100">
                        <div class="main-menu h-100">
                            <nav class="navbar h-100 navbar-expand-lg">
                                <!-- Logo Area  -->
                                <a class="navbar-brand" href="index.html"><img src="img/core-img/logo.png" alt="Logo"></a>

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                                <div class="collapse navbar-collapse" id="medilifeMenu">
                                    <!-- Menu Area -->
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="index.html">Home</a>
                                                <a class="dropdown-item" href="about-us.html">About Us</a>
                                                <a class="dropdown-item" href="services.html">Services</a>
                                             
                                                <a class="dropdown-item" href="contact.html">Contact</a>
                                                <a class="dropdown-item" href="index-icons.html">All Icons</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="about-us.html">About Us</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="services.html">Services</a>
                                        </li>
                                      
                                        <li class="nav-item">
                                            <a class="nav-link" href="contact.html">Contact</a>
                                        </li>
                                    </ul>
                                    <!-- Appointment Button -->
         <a href="tel:1097" class="btn medilife-appoint-btn ml-30">For <span>emergencies click here</span></a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Hero Area Start ***** -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/breadcumb3.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Predictor that <br>You can Trust with the accuracy of 98.12%</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms"><b>DIABETES</b> is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is your main source of energy and comes from the food you eat. Insulin, a hormone made by the pancreas, helps glucose from food get into your cells to be used for energy. Sometimes your body doesn’t make enough—or any—insulin or doesn’t use insulin well. Glucose then stays in your blood and doesn’t reach your cells.</h6>
                                <a href="diabetes.html" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/breadcumb3.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Predictor that<br>You can Trust with the accuracy of 98.96%</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms"><b>HEART DISEASE</b> includes conditions like coronary artery disease, arrhythmias, and heart failure. Major risk factors are high blood pressure, high cholesterol, smoking, obesity, and diabetes. Symptoms often include chest pain, shortness of breath, and fatigue. Prevention and treatment involve lifestyle changes, medications, and sometimes surgery.</h6>
                                <a href="heart.html" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/breadcumb3.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Predictor that <br>You can Trust with the accuracy of 90.6%</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms"><b>PARKINSONS DISEASE</b> is a progressive neurological disorder affecting movement, characterized by tremors, rigidity, and slowness. It results from the loss of dopamine-producing neurons. Symptoms extend to cognitive and mood changes as the disease progresses. Treatment focuses on managing symptoms through medications and, occasionally, surgical interventions like deep brain stimulation.</h6>
                                <a href="parkinson.html" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/breadcumb3.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Predictor that <br>You can Trust with the accuracy of 98.25%</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms"> <b>BREAST CANCER </b>  is a type of cancer that originates in the cells of the breasts, primarily affecting women but can also occur in men. It is characterized by the uncontrolled growth of breast cells, leading to the formation of tumors. Early detection through screening and advancements in treatment have significantly improved survival rates.</h6>
                                <a href="breast_cancer.html" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/breadcumb3.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Predictor that <br>You can Trust with the accuracy of 89.4%</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms"> <b>PNEUMONIA </b> An infection of the air sacs in one or both the lungs. Charactersied by severe cough with phelgm, fever, chills and difficulty in breathing.</h6>
                                <a href="pneumonia.html" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/breadcumb3.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Predictor that <br>You can Trust with the accuracy of 98.21%</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms"><b>CHRONIC KIDNEY DISEASE  </b> is a long-term condition characterized by the gradual loss of kidney function over time, which can lead to kidney failure if not managed properly. It often results from conditions such as diabetes, hypertension, and glomerulonephritis, and can cause symptoms like fatigue, swelling, and high blood pressure. Early detection and treatment are crucial to slowing the progression of the disease.</h6>
                                <a href="kidney.html" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Single Hero Slide -->

            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/breadcumb3.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Predictor that <br>You can Trust with the accuracy of 71%</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms"><b>LIVER DISEASE </b> <h6>
                                 encompasses a range of conditions that impair liver function, including hepatitis, cirrhosis, and liver cancer. It can result from infections, alcohol abuse, genetics, or obesity. Symptoms often include jaundice, abdominal pain, and swelling. Early diagnosis and treatment are crucial for managing liver disease and preventing severe complications.</h6>
                                <a href="liver.html" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Single Hero Slide -->

            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/breadcumb3.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Predictor that <br>You can Trust with the accuracy of 94.52%</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms"><b>MALARIA </b> is a life-threatening disease spread to humans by some types of mosquitoes. It is mostly found in tropical countries. It is preventable and curable.The infection is caused by a parasite and does not spread from person to person.Symptoms can be mild or life-threatening. Mild symptoms are fever, chills and headache. Severe symptoms include fatigue, confusion, seizures, and difficulty breathing.</h6>
                                <a href="malaria.html" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/breadcumb3.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Predictor that <br>You can Trust with the accuracy of 75%</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms"><b>ALZHEIMERS </b> <h6>
                                    Alzheimer's disease is a progressive neurological disorder that primarily affects memory and cognitive function. It is the most common cause of dementia, typically manifesting in older adults and leading to significant impairments in daily living..</h6>
                                <a href="Alzeheimer.html" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Single Hero Slide -->
            
        </div>
    </section>
    <!-- ***** Hero Area End ***** -->

    <!-- ***** Book An Appoinment Area Start ***** -->
    <div class="medilife-book-an-appoinment-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="appointment-form-content">
                        <div class="row no-gutters align-items-center">
                            <div class="col-12 col-lg-9">
                                <div class="medilife-appointment-form">
                                    <form action="#" method="post">
                                        <div class="row align-items-end">
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <select class="form-control" id="speciality">
                                                    <option>Regular Checkup</option>
                                                    <option>Specific Problem</option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <select class="form-control" id="doctors">
                                                    <option>Doctors </option>
                                                                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="date" id="date" placeholder="Date">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-2">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="time" id="time" placeholder="Time">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="name" id="name" placeholder="Name">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="number" id="number" placeholder="Phone">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <input type="email" class="form-control border-top-0 border-right-0 border-left-0" name="email" id="email" placeholder="E-mail">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-7">
                                                <div class="form-group mb-0">
                                                    <textarea name="message" class="form-control mb-0 border-top-0 border-right-0 border-left-0" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-5 mb-0">
                                                <div class="form-group mb-0">
                                                    <button type="submit" class="btn medilife-btn"><a href = "mailto: aishwarya21824@gmail.com">Make an Appointment</a> <span>+</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3">
                                <div class="medilife-contact-info">
                                    <!-- Single Contact Info -->
                                    <div class="single-contact-info mb-30">
                                        <img src="img/icons/alarm-clock.png" alt="">
                                        <p>Mon - Sat 08:00 - 21:00 <br>Sunday CLOSED</p>
                                    </div>
                                    <!-- Single Contact Info -->
                                    <div class="single-contact-info mb-30">
                                        <img src="img/icons/envelope.png" alt="">
                                        <p>+91-8146287107<br>Aishwarya@bcu.in</p>
                                    </div>
                                    <!-- Single Contact Info -->
                                    <div class="single-contact-info">
                                        <img src="img/icons/map-pin.png" alt="">
                                        <p>BCU <br>Bangalore</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Book An Appoinment Area End ***** -->
<br>
    <!-- ***** About Us Area Start ***** -->
    <center><p><h1>Features of our ML Web Page</h1></p></center>
    <br><section class="medica-about-us-area section-padding-100-20">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="medica-about-content">
                        <h2>We always try to add more and more diseases</h2>
                       
                        <a href="diabetes.html" class="btn medilife-btn mt-50">Diabetes Predictor <span>+</span></a>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-service-area d-flex">
                                <div class="service-icon">
                                    <i class="icon-doctor"></i>
                                </div>
                                <div class="service-content">
                                    <h5>The Best Prediction </h5>
                                  
                                </div>
                            </div>
                        </div>
                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-service-area d-flex">
                                <div class="service-icon">
                                    <i class="icon-blood-donation-1"></i>
                                </div>
                                <div class="service-content">
                                    <h5>Simple UX/UI</h5>
                                   
                                </div>
                            </div>
                        </div>
                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-service-area d-flex">
                                <div class="service-icon">
                                    <i class="icon-flask-2"></i>
                                </div>
                                <div class="service-content">
                                    <h5>Details of various diseases</h5>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-service-area d-flex">
                                <div class="service-icon">
                                    <i class="icon-emergency-call-1"></i>
                                </div>
                                <div class="service-content">
                                    <h5>Our Data Sources</h5>
                                     </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Us Area End ***** -->

    <!-- ***** Cool Facts Area Start ***** -->
<section class="medilife-cool-facts-area section-padding-100-0">
    <div class="container">
        <center>
            <h2>Accuracy with Algorithm Used</h2>
        </center>
        <br>
        <div class="row">
            <!-- Single Cool Fact-->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact-area text-center mb-100">
                    <i class="icon-blood-transfusion-2"></i>
                    <h4>Diabetes ML Model</h4>
                    <h2><span class="counter">98.12</span>%</h2>
                    <h6>Random Forest Classifier</h6>
                </div>
            </div>
            <!-- Single Cool Fact-->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact-area text-center mb-100">
                    <i class="icon-atoms"></i>
                    <h4>Breast Cancer ML Model</h4>
                    <h2><span class="counter">98.25</span>%</h2>
                    <h6>Ada Boost</h6>
                </div>
            </div>
            <!-- Single Cool Fact-->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact-area text-center mb-100">
                    <i class="icon-microscope"></i>
                    <h4>Heart Disease ML Model</h4>
                    <h2><span class="counter">98.96</span>%</h2>
                    <h6>Logistic Regression</h6>
                </div>
            </div>
            <!-- Single Cool Fact-->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact-area text-center mb-100">
                    <i class="icon-doctor-1"></i>
                    <h4>Kidney Disease ML Model</h4>
                    <h2><span class="counter">98.21</span>%</h2>
                    <h6>Random Forest Classifier</h6>
                </div>
            </div>
            <!-- Single Cool Fact-->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact-area text-center mb-100">
                    <i class="icon-atoms"></i>
                    <h4>Liver Disease ML Model</h4>
                    <h2><span class="counter">71</span>%</h2>
                    <h6>Support Vector Machine</h6>
                </div>
            </div>
            <!-- Single Cool Fact-->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact-area text-center mb-100">
                    <i class="icon-microscope"></i>
                    <h4>Malaria DL Model</h4>
                    <h2><span class="counter">94.52</span>%</h2>
                    <h6>Convolutional Neural Network</h6>
                </div>
            </div>
            <!-- Single Cool Fact-->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact-area text-center mb-100">
                    <i class="icon-microscope"></i>
                    <h4>Alzheimer's ML Model</h4>
                    <h2><span class="counter">75</span>%</h2>
                    <h6>Gradient Boosting</h6>
                </div>
            </div>
            <!-- Single Cool Fact-->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact-area text-center mb-100">
                    <i class="icon-blood-transfusion-2"></i>
                    <h4>Parkinson's ML Model</h4>
                    <h2><span class="counter">90.6</span>%</h2>
                    <h6>Support Vector Machine</h6>
                </div>
            </div>
            <!-- Single Cool Fact-->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact-area text-center mb-100">
                    <i class="icon-blood-transfusion-2"></i>
                    <h4>Pneumonia DL Model</h4>
                    <h2><span class="counter">89.4</span>%</h2>
                    <h6>Convolutional Neural Network</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Cool Facts Area End ***** -->

    <!-- ***** Cool Facts Area End ***** -->
                <!-- ***** Cool Facts Area End ***** -->

    <!-- ***** Gallery Area Start ***** -->
    <div class="medilife-gallery-area owl-carousel">
       
        <!-- Single Gallery Item -->
        <div class="single-gallery-item">
            <img src="img/bg-img/g2.jpg" alt="">
            <div class="view-more-btn">
                <a href="img/bg-img/g2.jpg" class="btn gallery-img">Data set as .csv format +</a>
            </div>
        </div>
        <!-- Single Gallery Item -->
        <div class="single-gallery-item">
            <img src="img/bg-img/g3.jpg" alt="">
            <div class="view-more-btn">
                <a href="img/bg-img/g3.jpg" class="btn gallery-img">notebooks files +</a>
            </div>
        </div>

        <!-- Single Gallery Item -->
        <div class="single-gallery-item">
            <img src="img/bg-img/g4.jpg" alt="">
            <div class="view-more-btn">
                <a href="img/bg-img/g4.jpg" class="btn gallery-img">Python pandas EDA +</a>
            </div>
        </div>

        <div class="single-gallery-item">
            <img src="img/bg-img/g5.jpg" alt="">
            <div class="view-more-btn">
                <a href="img/bg-img/g5.jpg" class="btn gallery-img">Requirements +</a>
            </div>
        </div>

        

         <div class="single-gallery-item">
            <img src="img/bg-img/g7.jpg" alt="">
            <div class="view-more-btn">
                <a href="img/bg-img/g7.jpg" class="btn gallery-img">app.py +</a>
            </div>
        </div>
    </div>
    <!-- ***** Gallery Area End ***** -->

    <!-- ***** Features Area Start ***** -->
<div class="medilife-features-area section-padding-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="features-content">
                    <h2>A New Way to Treat Patients in a Revolutionary Facility</h2>
                    <p>There is a general concern that intelligent machines can be dangerous to humanity. Yet, an examination of human behavior and machine behavior reveals that the former can inherently carry a greater risk to human welfare than the latter. An analysis of errors committed by AI (artificial intelligence) and other errors committed by humans showed that the types, probabilities, implications, and consequences of those two genres of errors vary to a large extent, despite the commonalities.</p>
                    <a href="https://internationaldirector.com/technology/ai-errors-vs-human-errors/" class="btn medilife-btn mt-50">View Articles <span>+</span></a>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="features-thumbnail">
                    <img src="C:\Users\Hp\anaconda3\envs\FINAL_SEMESTER_PROJECT\prediction\templates\img\bg-img\benefits.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Features Area End ***** -->

    <!-- ***** Features Area End ***** -->


    <!-- ***** Emergency Area Start ***** -->
    <div class="medilife-emergency-area section-padding-100-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="emergency-content">
                        <i class="icon-smartphone"></i>
                        <h2>For Project Detail</h2>
                        <a href="https://github.com/AishwaryaBCU/BCU-Diseases"> <h1 style="color:blue;">Git Repository</h1></a>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <!-- Single Emergency Helpline -->
                        <div class="col-12 col-sm-6">
                            <div class="single-emergency-helpline mb-50">
                                <h5>Aishwarya U</h5><br><p>(Data Science, Machine learning, Front-end, Deployment, Debugging)</p>
                                <p>+91-7204699456<br> aishwaryau@bcu.in <br> BCU-2024 <br> MSC</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="features-thumbnail">
                                <img src="C:\Users\Hp\anaconda3\envs\FINAL_SEMESTER_PROJECT\prediction\templates\img\bg-img\video2.jpg" alt="">
                            </div>
                        </div>
                        <!-- Single Emergency Helpline -->
                        <div class="col-12 col-sm-6">
                            
                        </div>
                        <!-- Single Emergency Helpline -->
                        <div class="col-12 col-sm-6">
                            
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Emergency Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
<footer class="footer-area section-padding-100">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container-fluid">
            <div class="row">
                <!-- Footer Logo and Thank You Message -->
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget-area">
                        <div class="footer-logo">
                            <img src="img/core-img/logo.png" alt="">
                        </div>
                        <p>I would like to thank my teacher, Prof. Kamakshi, for offering me the opportunity to work on this Medical Diagnosis web application project. Her guidance was invaluable throughout the process. I also extend my gratitude to my parents, friends, and faculty members for their support.</p>
                        <div class="footer-social-info">
                            <!-- Add social media links if any -->
                        </div>
                    </div>
                </div>

                <!-- Contact Form -->
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget-area">
                        <div class="widget-title">
                            <h6>Contact Form</h6>
                        </div>
                        <div class="footer-contact-form">
                            <form action="mailto:aishwarya21824@gmail.com" method="post">
                                <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="footer-name" id="footer-name" placeholder="Name" required>
                                <input type="email" class="form-control border-top-0 border-right-0 border-left-0" name="footer-email" id="footer-email" placeholder="Your Email" required>
                                <textarea name="message" class="form-control border-top-0 border-right-0 border-left-0" id="footerMessage" placeholder="Message" required></textarea>
                                <button type="submit" class="btn medilife-btn">Send Email <span>+</span></button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Newsletter Subscription -->
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget-area">
                        <div class="widget-title">
                            <h6>Newsletter</h6>
                        </div>
                        <div class="footer-newsletter-area">
                            <form action="mailto:aishwarya21824@gmail.com" method="post">
                                <input type="email" class="form-control border-0 mb-0" name="newsletterEmail" id="newsletterEmail" placeholder="Your Email Here" required>
                                <button type="submit" class="btn medilife-btn">Subscribe</button>
                            </form>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="features-thumbnail">
                                <img src="C:\Users\Hp\anaconda3\envs\FINAL_SEMESTER_PROJECT\prediction\templates\img\core-img\logo.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="bottom-footer-content">
                        <div class="copywrite-text">
                            <p>&copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="index.html">Aishwarya U</a></p>
                            <p>Supervised by <a href="https://themewagon.com/" target="_blank" rel="noopener noreferrer">Prof. Kamakshi (Associate Professor @BCU)</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ***** Footer Area End ***** -->

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="js/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
