<html>
<style>
    body {
        background-image: url('img/bg-img/breadcumb3.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .content-container {
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        padding: 20px;
        margin-top: 50px;
    }
    h1 {
        color: white;
    }
    h2 {
        color: black;
    }
    h6 {
        color: black;
    }
</style>

<div class="container">
    <div class="alert alert-danger"></div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <center><h1>Liver Disease Prediction</h1></center>
            <div class="card card-body mt-3 content-container" style="border: 1px solid white;">
                <h2 data-animation="fadeInUp" data-delay="100ms">Predictor that You can Trust</h2>
                <p data-animation="fadeInUp" data-delay="400ms"><b>Liver Disease</b> is a condition characterized by the dysfunction or damage to the liver, resulting in impaired liver function. Early detection and intervention are crucial to prevent further liver damage and complications.</p>
                <h3>Machine Learning Project</h3>
                <p>This liver disease prediction tool is developed using machine learning techniques to predict the likelihood of liver disease in individuals based on various health parameters. The model is trained on a dataset that includes parameters such as:</p>
                <ul>
                    <li>Age</li>
                    <li>Alkaline Phosphotase</li>
                    <li>Albumin</li>
                    <li>Gender</li>
                    <li>Alamine Aminotransferase</li>
                    <li>Albumin and Globulin Ratio</li>
                    <li>Total Bilirubin</li>
                    <li>Aspartate Aminotransferase</li>
                    <li>Direct Bilirubin</li>
                    <li>Total Proteins</li>
                </ul>
                <h3>Model Accuracy</h3>
                <p>The machine learning model used in this project achieves an accuracy of approximately 71% on the test dataset. This means that the model is able to correctly predict liver disease [Insert Accuracy]% of the time based on the given health parameters.</p>
                <div class="text-center mt-4">
                    <a href="https://bcu-diseases-liv.streamlit.app/" target="_blank" class="btn btn-primary btn-lg">Go to Online Predictor</a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
