<html>
<style>
    body {
        background-image: url('img/bg-img/breadcumb3.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .content-container {
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        padding: 20px;
        margin-top: 50px;
    }
    h1 {
        color: white;
    }
    h2 {
        color: black;
    }
    h6 {
        color: black;
    }
</style>

<div class="container">
    <div class="alert alert-danger"></div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <center><h1>Malaria Prediction</h1></center>
            <div class="card card-body mt-3 content-container" style="border: 1px solid white;">
                <h2 data-animation="fadeInUp" data-delay="100ms">Predictor that You can Trust</h2>
                <p data-animation="fadeInUp" data-delay="400ms"><b>Malaria</b> is a mosquito-borne disease caused by parasites of the Plasmodium genus. It is transmitted through the bite of infected female Anopheles mosquitoes. Malaria can cause fever, chills, and flu-like symptoms and, if not treated promptly, can become severe and life-threatening.</p>
                <h3>Machine Learning Project</h3>
                <p>This malaria prediction tool is developed using machine learning techniques to predict the presence of malaria parasites in blood cell samples. The model analyzes microscopic images of blood cells and classifies them as parasitized or unaffected based on features extracted from the images.</p>
                <h3>Model Accuracy</h3>
                <p>The machine learning model used in this project achieves an accuracy of approximately 95% on the test dataset. This means that the model is able to correctly predict the presence of malaria parasites in blood cell samples 95% of the time.</p>
                <div class="text-center mt-4">
                    <a href="https://bcu-diseases-malaria.streamlit.app/" target="_blank" class="btn btn-primary btn-lg">Go to Online Predictor</a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
