<html>
<style>
    body {
        background-image: url('img/bg-img/breadcumb3.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .content-container {
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        padding: 20px;
        margin-top: 50px;
    }
    h1 {
        color: white;
    }
    h3 {
        color: black;
    }
</style>

<div class="container">
    <div class="alert alert-danger"></div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <center><h1>Pneumonia Prediction</h1></center>
            <div class="card card-body mt-3 content-container" style="border: 1px solid white;">
                <h3>About Pneumonia</h3>
                <p>Pneumonia is an infection that inflames the air sacs in one or both lungs. The air sacs may fill with fluid or pus (purulent material), causing cough with phlegm or pus, fever, chills, and difficulty breathing. A variety of organisms, including bacteria, viruses and fungi, can cause pneumonia.</p>
                
                <h3>Machine Learning Project</h3>
                <p>This pneumonia prediction tool is developed using machine learning techniques to predict the likelihood of pneumonia in individuals based on various health parameters. The model is trained on a dataset that includes parameters such as:</p>
                <ul>
                    
                    <li>X-RAY Diagnosis</li>
                </ul>
                
                <h3>Model Accuracy</h3>
                <p>The machine learning model used in this project achieves an accuracy of approximately 92% on the test dataset. This means that the model is able to correctly predict pneumonia 92% of the time based on the given health parameters.</p>

                <div class="text-center mt-4">
                    <a href="https://bcu-pneumonia-predict.streamlit.app/" target="_blank" class="btn btn-primary btn-lg">Go to Online Predictor</a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
